@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans_Condensed-Bold.ttf);
}
*{
    box-sizing: border-box;
    font-family: OpenSans;
}
body{
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    background-color: #32333b;
    margin: 0;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
#canvas{
    background-color: black;
    border: 10px solid #ffffff;
    box-shadow: 0 0 16px 13px #0000003d;
}
.controller{
    display: flex;
    gap: 50px;
    min-height: 100px;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 16px 3px #0000001c;
    padding: 20px;
}
.controls > .keys.walk{
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(3, 50px);
    grid-gap: 10px;
}
.controls > .keys.walk #shift{
    grid-row: span 3;
}
.controls > .keys.walk #shift span{
    transform: rotate(-90deg);
}
.controls > .keys.walk #space{
    grid-column: span 4;
}
.controls > .keys.walk > div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: 1px 6px 6px 0px #00000080;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}
.controls > .keys.walk > div[data-no-use]{
    opacity: .03;
    cursor: not-allowed;
}
.controls > .keys.walk > div.pressed:not([data-no-use]){
    background-color: #0070d4;
    color: white;
}

.customization{
    display: flex;
    flex-direction: column;
}
.customization :is(.background, .player) .label{
    color: white;
    background-color: #282930;
    padding: 2px 8px;
    border-radius: 5px;
    width: fit-content;
}
.customization :is(.background, .player) .buttons{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    max-width: 500px;
    flex-wrap: wrap;
}
.customization :is(.background, .player) .buttons > div{
    padding: 6px 10px;
    border-radius: 5px;
    background-color: #282930;
    color: white;
    cursor: pointer;
}
.customization :is(.background, .player) .buttons > div.selected{
    background-color: white;
    color: black;
}