.projects h4{
    margin: 0;
}
.projects .content-box{
    background-color: #4dbaf932;
    border-radius: 10px;
    padding: 15px;
    color: #005D92;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projects > .tech{
    background-color: #4dbaf932;
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
    color: #005D92;
}
.projects .tech h5{
    margin: 0;
    font-size: 15px;
}
.projects .tech span{
    display: inline-block;
    margin-top: 10px;
}
.projects .app-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.projects .app-list .row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.projects .app-list .app{
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
}
.projects .app-list .app .app-icon{
    height: 45px;
    width: 45px;
    background-color: #4dbaf932;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.projects .app-list .app .app-details{
    display: flex;
    flex-direction: column;
}
.projects .app-list .app .app-details .app-title{
    color: #005D92;
    font-weight: bold;
}
.projects .app-list .app .app-details .app-desc{
    color: #005D92;
    font-style: italic;
    word-break: keep-all;
}
.projects .view-btn{
    background-color: #01A1FB;
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    font-size: 14px;
}
.projects .game-list{
    max-width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 20px;
}
.projects .game-list .game img{
    height: 150px;
    width: 200px;
    object-fit: cover;
    border-radius: 12px;
}
.projects .game-list .game h3{
    margin: 0;
    width: 200px;
    text-align: center;
    margin-top: 10px;
    color: #005D92;
    font-size: medium;
}
.projects .pj-box{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #4dbaf932;
    color: #005D92;
    gap: 5px;
    border-radius: 10px;
    margin-top: 20px;
}


/* media query */
@media only screen and (max-width: 630px){
    .projects .app-list .row{
        flex-direction: column;
    }
}
@media only screen and (max-width: 760px){
    .projects .game-list{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}