*{
    user-select: none;
    box-sizing: border-box;
}
body{
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #6ac8db59;
    font-family: 'Silkscreen', cursive;
}

canvas{
    border-radius: 5px;
    box-shadow: 0 0 20px 1px #00000054;
    margin: auto;
    margin-top: 50px;
}
.container{
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    display: flex;
    gap: 20px;
    width: 600px;
    max-width: 600px;
    border-radius: 5px;
}
.box h3{
    margin: 0;
}
.box > div{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.box > div div{
    height: 45px;
    width: 55px;
    background-color: whitesmoke;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
    min-width: fit-content;
}
.box > div div.selected{
    background-color: #6ac8db;
}
.box > div.backgrounds img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.box > div.difficulty div.selected{
    color: white;
}
.instruction{
    flex: 1;
    padding: 10px;
    border: 3px rgb(245, 138, 138) solid;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instruction h3{
    text-align: center;
    color: rgb(252, 88, 88);
    margin: 5px;
}
.instruction span{
    color: rgb(252, 88, 88);
    font-size: 13px;
    text-align: center;
    position: relative;
    padding: 5px 12px;
    max-width: fit-content;
    text-align: center;
}

.instruction span::before{
    content: "★";
    position: absolute;
    transform: translateX(-15px);
}
.box.disabled > div > div{
    opacity: .5;
    pointer-events: none;
}